// bower:scss
// endbower

/*------------------------------------*\
  PDCTO - Positioning, Display & Box
	Model, Color, Text, Other
\*------------------------------------*/

/*------------------------------------*\
  Variables
\*------------------------------------*/

$red: #AC4133;
$orange: #D36E06;
$gold: #F9E224;

$black: #040E10;
$blue: #002F45;
$turquoise: #10C3C8;

$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

/*------------------------------------*\
  Mixins and Placeholders
\*------------------------------------*/

@mixin bp($point) {
	@if $point == "baby-bear" {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == "mama-bear" {
		@media (min-width: 37.5em) { @content; }
	}
	@else if $point == "papa-bear" {
		@media (min-width: 56.25em) { @content; }
	}
	@else if $point == "grizzly-bear" {
		@media (min-width: 75em)  { @content; }
	}
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*\
  Animations
\*------------------------------------*/

.js {
  .wow {
    visibility: hidden;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
	animation-timing-function: $easeOutQuint;
}

.fade-in-zoom {
	animation-name: fade-in-zoom;
}

.fade-in-down {
	animation-name: fade-in-down;
}

.fade-in {
	animation-name: fade-in;
}

@keyframes fade-in-zoom {
	from {
		opacity: 0;
		transform: scale3d(0.5, 0.5, 0.5);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes fade-in-down {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*------------------------------------*\
  Code
\*------------------------------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

html {
  box-sizing: border-box;

  font-family: 'Fondamento', cursive;
  font-size: 100%;
  line-height: 1.4;
  text-align: center;

	background-color: $gold;
  color: $red;

	@include bp("baby-bear") {
		font-size: 125%;
	}
	@include bp("mama-bear") {
		font-size: 150%;
	}
	@include bp("papa-bear") {
		font-size: 175%;
	}
	@include bp("grizzly-bear") {
		font-size: 180%;
	}
}

body {
  overflow-y: auto;
}

h1,
h2,
h3 {
  line-height: 1;
	margin: 1rem 0;
}

h2,
h3 {
	font-family: 'Tangerine', cursive;
	font-weight: 700;
}

h1 {
	font-family: 'Cinzel', serif;
	font-size: 4em;
	font-weight: 400;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.5em;
}

blockquote {
	margin: 0;

	font-style: italic;

	footer {
		font-style: normal;
		font-size: 75%;
	}
	cite {

	}
}



.screen-fill {
	display: table;
	min-height: 100vh;
  width: 100%;
}

.fill-content {
  display: table-cell;
  vertical-align: middle;
}



.constrain {
	margin-left: auto;
	margin-right: auto;
	max-width: 27.5em;
}

.constrain--pull-left {
	margin-right: auto;
	max-width: 27.5em;
	text-align: left;
}

.constrain--pull-right {
	margin-left: auto;
	max-width: 27.5em;
	text-align: right;
}



%box {
	padding: 1em;

	@include bp("baby-bear") {
		padding: 2em;
	}
	@include bp("mama-bear") {
		padding: 3em;
	}
	@include bp("papa-bear") {
		padding: 4em;
	}
	@include bp("grizzly-bear") {
		padding: 5em;
	}
}

%box-cover {
	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box--padded {
	@extend %box;
}

.box--top {
	@extend %box;
	@extend %box-cover;

  background-image: url(../images/default/mountain.jpg);
	text-shadow: 1px 1px black;

	@include bp("baby-bear") {
		background-image: url(../images/small/mountain.jpg);
	}
	@include bp("mama-bear") {
		background-image: url(../images/medium/mountain.jpg);
	}
	@include bp("papa-bear") {
		background-image: url(../images/large/mountain.jpg);
	}
	@include bp("grizzly-bear") {
		background-image: url(../images/xlarge/mountain.jpg);
	}
}

.box--dark-water {
	background-color: $black;
	background-image: url(../images/default/water.png), linear-gradient(to bottom, $blue, $black);
	color: white;

	@include bp("baby-bear") {
		background-image: url(../images/small/water.png), linear-gradient(to bottom, $blue, $black);
	}
	@include bp("mama-bear") {
		background-image: url(../images/medium/water.png), linear-gradient(to bottom, $blue, $black);
	}
	@include bp("papa-bear") {
		background-image: url(../images/large/water.png), linear-gradient(to bottom, $blue, $black);
	}
	@include bp("grizzly-bear") {
		background-image: url(../images/xlarge/water.png), linear-gradient(to bottom, $blue, $black);
	}
}

.box--ninth-precinct {
	@extend %box;
	@extend %box-cover;

  background-image: linear-gradient(transparent, $black 30%, $black);
	height: 300vh;
}

.box--bottom {
	@extend %box;
	@extend %box-cover;

  background-image: url(../images/default/book.jpg);
	text-shadow: 1px 1px black;

	@include bp("baby-bear") {
		background-image: url(../images/small/book.jpg);
	}
	@include bp("mama-bear") {
		background-image: url(../images/medium/book.jpg);
	}
	@include bp("papa-bear") {
		background-image: url(../images/large/book.jpg);
	}
	@include bp("grizzly-bear") {
		background-image: url(../images/xlarge/book.jpg);
	}
}

.box--light {
	@extend %box;

	background-color: $gold;
	color: white;
}

.box--dark {
	@extend %box;

	background-color: $black;
	color: white;
}



.canvas-container {
	position: relative;
}

.canvas-sibling {
	pointer-events: none;
	position: relative;
	z-index: 1;
}

.canvas-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	display: block;
	width: 100%;
	height: 100%;
}
