// bower:scss
// endbower

html,
body {

}

html {
  font-family: 'Jim Nightshade', cursive;
  font-family: 'Eagle Lake', cursive;
  font-family: 'Felipa', cursive;
  font-family: 'Marck Script', cursive;
  font-family: 'Calligraffitti', cursive;
  font-family: 'Tangerine', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Fondamento', cursive;
  font-family: 'Dr Sugiyama', cursive;
}

body {

}
