---
title: Sabriel by Garth Nix
---
<article class="page-main">
  <section class="screen-fill box--top">
    <div class="fill-content">
      <div class="constrain">
        <h1>Sabriel</h1>
        <p>
          Who will guard the living when the dead arise...?
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain">
        <blockquote cite="http://">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <footer>
            <cite>Sabriel by Garth Nix, page 101 lines 1-10</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-left">
        <h2>The first precinct</h2>
        <p>
          The First Precinct is mostly knee-deep water, but has eddies and pools dangerous to the interloper. It can be thought of as the entrance to Death. Its Gate is a huge waterfall.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-right">
        <h2>The second precinct</h2>
        <p>
          The Second Precinct has pitfalls throughout its domain and low visibility; its Gate is a whirlpool.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-left">
        <h2>The third precinct</h2>
        <p>
          The Third Precinct has slightly warmer ankle-deep water and visibility is slightly improved. Periodic, irresistible waves carry dead creatures through the Gate (a wall of mist), often beyond the final Ninth Gate.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-right">
        <h2>The fourth precinct</h2>
        <p>
          The Fourth Precinct has a low concentration of Dead, as most of those who reach it have been stunned by the Third Precinct's waves, and are carried easily to the dangerous and deceptively short waterfall that comprises its Gate.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-left">
        <h2>The fifth precinct</h2>
        <p>
          The Fifth Precinct is too deep to wade, and must be crossed by a thin black bridge that frequently attracts dead creatures. The water in the Fifth Precinct has strong mutagenic properties, and is implied to be partially responsible for the monstrous appearance of some Greater Dead and necromancers. The Gate is a vertical river rising from the floor.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-right">
        <h2>The sixth precinct</h2>
        <p>
          The Sixth Precinct has no current, and its water is present as a shallow pool. There are many Dead creatures in this Precinct, some of whom are Greater Dead. The Gate has no substance and can appear anywhere, but appears as a lift bordered by a cylinder of water.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-left">
        <h2>The seventh precinct</h2>
        <p>
          The Seventh Precinct is not described, though presumably it is similar to the First and Fourth Precincts. Its Gate is a line of fire that stretches across the river.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-right">
        <h2>The eighth precinct</h2>
        <p>
          The Eighth Precinct resembles the First and Fourth, but interspersed with flashes of fire. The Eighth Gate is a wall of darkness, which needs a spell to send a necromancer into the Ninth Precinct.
        </p>
      </div>
    </div>
  </section>

  <section class="screen-fill box--dark">
    <div class="fill-content">
      <div class="constrain--pull-left">
        <h2>The ninth and final precinct</h2>
        <p>
          The Ninth Precinct is an endless pool of deep, still, clear water. It is warmer than the other precincts and there is no fog, allowing a necromancer to see in every direction. The Ninth Gate, resembling a starry sky, confirms the final death of any who look upon it, except those to whom remain a native span of years. Those claimed by the Gate rise at varying speeds and vanish, never to return.
        </p>
      </div>
    </div>
  </section>
</article>

<aside class="page-aside box--bottom mogget">
  <h2>Thank you Garth Nix</h2>
  <p>
    Does the walker choose the path, or the path the walker?
  </p>
</aside>
