---
title: Sabriel by Garth Nix
---
<article class="page-main wow fade-in" data-wow-duration="1500ms">
  <div class="holehallow-container">
    {{> holehallow }}
    <section class="box--intro holehallow-content">
      <div class="constrain">
        <h1 class="wow fade-in-zoom" data-wow-duration="2000ms"
        data-wow-delay="1500ms">Sabriel</h1>
        <p class="wow fade-in" data-wow-duration="1500ms" data-wow-delay="3000ms">
          Who will guard the living when the dead arise...?
        </p>
      </div>
    </section>
  </div>

  <section class="box wow fade-in-up" data-wow-duration="1500ms" data-wow-delay="500ms" data-wow-offset="50">
    <div class="constrain">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>

  <section class="box wow fade-in-up" data-wow-duration="1500ms" data-wow-delay="500ms" data-wow-offset="50">
    <div class="constrain">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>

  <section class="box wow fade-in-up" data-wow-duration="1500ms" data-wow-delay="500ms" data-wow-offset="50">
    <div class="constrain">
      <blockquote cite="http://">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
        </p>
      </blockquote>
    </div>
  </section>

  <section class="box--mogget-freed wow fade-in" data-wow-duration="1000ms" data-wow-delay="500ms" data-wow-offset="50">
    <div class="constrain wow fade-in-up" data-wow-duration="1500ms" data-wow-delay="1000ms" data-wow-offset="50">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>
</article>

<aside class="page-aside box--thanks canvas-container">
  <div class="box-content canvas-sibling wow fade-in-zoom" data-wow-duration="2000ms">
    <h2>Thank you Garth Nix</h2>
    <p>
      Does the walker choose the path, or the path the walker?
    </p>
  </div>
  <div id="charter-canvas" class="canvas-background"></div>
</aside>
