---
title: Sabriel by Garth Nix
---
<article class="page-main wow fade-in" data-wow-duration="1500ms">
  <div class="holehallow-container">
    {{> holehallow }}
    <section class="box--intro holehallow-content">
      <div class="constrain">
        <h1 class="wow fade-in-zoom" data-wow-duration="2000ms"
        data-wow-delay="1500ms">Sabriel</h1>
        <p class="wow fade-in" data-wow-duration="1500ms" data-wow-delay="3000ms">
          Who will guard the living when the dead arise...?
        </p>
      </div>
    </section>
  </div>

  <section class="box">

  </section>
</article>

<aside class="page-aside box--thanks canvas-container">
  <div class="box-content canvas-sibling">
    <h2>Thank you Garth Nix</h2>
    <p>
      Does the walker choose the path, or the path the walker?
    </p>
  </div>
  <div id="charter-canvas" class="canvas-background"></div>
</aside>
