<meta charset="utf-8">
<title>{{ title }} | {{ website }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="/favicon.ico">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- Google Web Fonts -->
<link href="http://fonts.googleapis.com/css?family=Jim+Nightshade|Eagle+Lake|Felipa|Marck+Script|Calligraffitti|Tangerine:400,700|Dancing+Script:400,700|Kaushan+Script|Courgette|Satisfy|Fondamento:400italic,400|Dr+Sugiyama" rel="stylesheet" type="text/css">

<!-- build:css(.) css/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css(.tmp) css/main.css -->
<link rel="stylesheet" href="css/main.css">
<!-- endbuild -->

<!-- build:js js/vendor/modernizr.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->
