<div class="holehallow">
  <div class="stars"></div>
  <div class="moon"></div>
  <div class="clouds">
    <div class="cloud wow float" data-wow-delay="5000ms" data-wow-duration="100000ms" data-wow-iteration="infinite"></div>
    <div class="cloud wow float" data-wow-delay="50000ms" data-wow-duration="80000ms" data-wow-iteration="infinite"></div>
    <div class="cloud wow float" data-wow-delay="90000ms" data-wow-duration="100000ms" data-wow-iteration="infinite"></div>
    <div class="cloud wow float" data-wow-delay="80000ms" data-wow-duration="70000ms" data-wow-iteration="infinite"></div>
  </div>
  <div class="sinkhole"></div>
</div>
